
section{
    background-image: radial-gradient(circle at 50% -20.71%, #e6f58f 0, #e9eb7f 10%, #ecdf6e 20%, #efd25d 30%, #f1c44d 40%, #f2b53c 50%, #f3a52d 60%, #f59522 70%, #f8851d 80%, #fa741e 90%, #fc6324 100%);
    
 background-size: 1360px 500px;
 height: cover;
 width: cover;
    color: rgb(17, 18, 19);
}
h1{
    
    background-color: rgb(202, 169, 126);
    border-radius: 10px;
    width: 500px;
}
h2{
   
     color: rgb(230, 245, 232);
     
}